# Encryption secret for API keys decryption
ENCRYPTION_SECRET=encryption_secret_key

# Supabase database configuration
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key

# Clerk auth configuration
CLERK_SECRET_KEY=clerk_secret_key
CLERK_DOMAIN=clerk_domain
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_publishable_key

# Sentry error tracking configuration
SENTRY_DSN=sentry_dsn_url
NEXT_PUBLIC_SENTRY_DSN=sentry_dsn_url

# PostHog analytics configuration
NEXT_PUBLIC_POSTHOG_KEY=posthog_key
NEXT_PUBLIC_POSTHOG_HOST=posthog_host_url
